@charset 'UTF-8';

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 700;
  margin-top: 0;
}

h1,
.h1 {
  font-size: 1.75rem;
}

h2,
.h2 {
  font-size: 1.5rem;
}

h3,
.h3 {
  font-size: 1.125rem;
}

h4,
.h4 {
  font-size: 1rem;
}

.page-link {
  color: #948633;
  border-color: transparent;
  background: transparent;
}

.page-link:hover,
.page-link:focus {
  color: #948633;
  border-color: #e3d99e;
  background: #e3d99e;
}

.form-control,
.custom-file-label {
  border-color: #e3d99e;
  background: rgba(255, 255, 255, .5);
}

.custom-file .field-request-file {
  opacity: 0;
}

.custom-control {
  margin: 0 0 .25rem;
  border-color: #e3d99e;
  background: rgba(255, 255, 255, .5);
}

.custom-control.custom-control-inline {
  margin-right: 1rem;
}

.custom-control.custom-radio,
.custom-control.custom-checkbox {
  background: transparent;
}

.custom-control label {
  cursor: pointer;
}

.custom-control label:before,
.custom-control label:after {
  top: .15rem;
}

.custom-file-label::after {
  content: 'Выбрать файл';
}

.custom-select {
  margin: 0 0 .75rem;
  cursor: pointer;
  border-color: #e3d99e;
  background: rgba(255, 255, 255, .5);
}

.custom-control-input {
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.custom-control-input:checked ~ .custom-control-label::before {
  border-color: #948633;
  background-color: #948633;
}

.owl-theme .owl-nav {
  margin-top: 0;
}

.owl-theme .owl-nav [class*='owl-'] {
  position: absolute;
  top: 50%;
  left: 0;
  width: 40px;
  height: 40px;
  margin: -20px 0 0;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  text-indent: -99999px;
  border-radius: 3px 50% 50% 3px;
  background-color: #c2d3a3;
}

.owl-theme .owl-nav [class*='owl-']:hover {
  background-color: #95a875;
}

.owl-theme .owl-nav [class*='owl-']:before {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  background-size: 12px !important;
  -webkit-filter: invert(1);
  filter: invert(1);
}

.owl-theme .owl-nav .owl-next {
  right: 0;
  left: auto;
  border-radius: 50% 3px 3px 50%;
}

.owl-theme .owl-controls .owl-prev:before {
  background: url(../img/prev.png) no-repeat center center;
}

.owl-theme .owl-controls .owl-next:before {
  background: url(../img/next.png) no-repeat center center;
}

.owl-theme .owl-dots .owl-dot span {
  background: #c2d3a3;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #737e61;
}

.fa-ruble-sign {
  font-size: 80%;
}

.fa-star {
  color: #948633;
}

.modal-content {
  border: 3px solid rgba(255, 255, 255, .5);
  background: #f8f5e4;
}

.list-group-item {
  font-weight: 500;
  color: #444;
  border: 1px solid #aaa583;
  background: rgba(255, 255, 255, .5);
}

.list-group-item.active {
  color: #444;
  border-color: #aaa583;
  background: #e3d99e;
}

.nav-pills .nav-link {
  font-weight: 500;
  color: #444;
  border: 2px solid transparent;
}

.nav-pills .nav-link:hover,
.nav-pills .nav-link:focus {
  border-color: #948633;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  border-color: #aaa583;
  background: #aaa583;
}

.nav-pills .nav-link.active:hover,
.nav-pills .nav-link.active:focus,
.nav-pills .show > .nav-link:hover,
.nav-pills .show > .nav-link:focus {
  color: #444;
  border-color: #e3d99e;
  background: #e3d99e;
}

.btn {
  font-weight: 500;
  position: relative;
  overflow: hidden;
  border-radius: 3px;
}

.btn > * {
  position: relative;
  z-index: 1;
}

.btn:before {
  position: absolute;
  z-index: 0;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 0;
  content: '';
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  pointer-events: none;
}

.btn:hover:before {
  width: 100%;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.btn-success {
  color: #fff;
  border: 0;
  border-bottom: 3px solid #737e61;
  background: #95a875;
  text-shadow: 1px 1px 1px #948633;
}

.btn-success:hover {
  color: #fff;
  border-color: #536d26;
  background: #95a875;
}

.btn-success:before {
  background: #737e61;
}

.btn-success:focus,
.btn-success:active {
  color: #fff;
  border-color: #737e61;
  background: #95a875;
}

.btn-primary {
  color: #fff;
  border: 0;
  background: #e3d99e;
  text-shadow: 1px 1px 1px #948633;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  color: #fff;
  background: #aaa583;
}

.btn-secondary {
  color: #fff;
  border: 0;
  background: #aaa583;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active {
  color: #444;
  background: #e3d99e;
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show > .btn-secondary.dropdown-toggle {
  color: #444;
  border-color: #e3d99e;
  background: #e3d99e;
}

.btn-outline-secondary {
  color: #444;
  border: 2px solid #aaa583;
  background: transparent;
}

.btn-outline-secondary:hover,
.btn-outline-secondary:focus,
.btn-outline-secondary:active {
  color: #fff;
  border: 2px solid #aaa583;
  background: #aaa583;
}

.table td {
  max-width: 260px;
}

/*
Если сомневаетесь, используйте единицы rem для размера шрифта, пикселы
— для границ и единицы еm — для большинства других свойств.

@font-face {
    font-family: 'FontAwesome';
    font-display: auto;
    src: url('../fonts/fontawesome-webfont.eot');
    src: url('../fonts/fontawesome-webfont.eot') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff') format('woff'), url('../fonts/fontawesome-webfont.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
    font-weight: 400;
}
*/

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #f1ebc9;
  -webkit-text-size-adjust: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
}

a {
  color: #333;
  background-color: transparent;
}

a:hover,
a:focus {
  text-decoration: none;
  color: #948633;
}

a,
button {
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

button,
input,
select,
textarea {
  font-family: inherit;
  margin: 0;
}

button:focus,
button:hover,
input:focus,
input:hover,
select:focus,
select:hover,
textarea:focus,
textarea:hover {
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

input {
  border-color: #e3d99e;
  background: rgba(255, 255, 255, .5);
}

textarea {
  resize: none;
  border-color: #e3d99e;
  background: rgba(255, 255, 255, .5);
}

img {
  max-width: 100%;
  border-style: none;
}

.help-block {
  color: #a87575;
}

.shadow {
  -webkit-box-shadow: 0 8px 15px -5px rgba(0, 0, 0, .75);
  box-shadow: 0 8px 15px -5px rgba(0, 0, 0, .75);
}

.content {
  padding-bottom: 3rem;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.big {
  font-size: 125%;
}

/* Кнопка наверх */

#back_top {
  line-height: 2rem;
  position: fixed;
  z-index: 99;
  top: auto;
  right: 30px;
  bottom: 30px;
  left: auto;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  background: rgba(0, 0, 0, .3);
}

#back_top:hover {
  background: #000;
}

.icon {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
}

.icon:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  background-color: #141414;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  mask-position: center center;
}

.icon.delivery:before {
  -webkit-mask-image: url('../../img/quick-delivery.svg');
  mask-image: url('../../img/quick-delivery.svg');
}

header {
  padding: 0 0 1rem;
}

header .search {
  font-size: 16px;
  position: absolute;
  z-index: 2;
  top: 0;
  right: -5px;
  left: auto;
  overflow: hidden;
  width: 0;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-box-shadow: 0 0 10px 10px #f1ebc9;
  box-shadow: 0 0 10px 10px #f1ebc9;
}

header .search input {
  width: 300px;
  height: 36px;
  padding: 0 1rem;
  border-radius: 30px;
  background: #fff;
}

header .search button {
  font-size: 22px;
  position: absolute;
  position: absolute;
  top: 1px;
  right: 5px;
  left: auto;
  border: 0;
  background: transparent;
}

header .search button.hide-search {
  display: none;
}

header .search button.hide-search i {
  color: #ccc;
  text-shadow: none;
}

header .contacts {
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: left;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: center;
}

header .contacts li {
  font-size: 16px;
  margin: 0 3rem 0 0;
}

header .contacts li:last-child {
  margin: 0;
}

header .cart {
  font-size: 32px;
  position: relative;
}

header .cart .count {
  font-size: 12px;
  line-height: 1;
  position: absolute;
  top: 4px;
  right: -4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 18px;
  height: 18px;
  color: #fff;
  border-radius: 50%;
  background: #737e61;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

header i {
  color: #aaa583;
  text-shadow: 1px 1px 1px #444;
}

header i.fa-angle-down {
  color: #444;
  text-shadow: none;
}

header i:hover {
  color: #948633;
}

.top-panel {
  font-size: .9rem;
  position: relative;
  margin: 0 0 1rem;
  padding: .5rem 0;
  color: #fff;
  background: #536d26;
}

.top-panel:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  content: '';
  opacity: .35;
  background: url(../img/bg-element.jpg);
}

.top-panel .btn {
  border-color: #fff;
}

.top-panel a {
  color: #fff;
}

.top-panel i {
  margin-right: .25rem;
  color: #c2d3a3;
  text-shadow: none;
}

.top-panel .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.top-panel-left,
.top-panel-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.top-panel-left li,
.top-panel-right li {
  margin-right: 1rem;
}

.top-panel-left li:last-child,
.top-panel-right li:last-child {
  margin-right: 0;
}

.logo {
  display: block;
}

.logo .h1 {
  line-height: 1;
  display: block;
  margin: 0;
}

.logo .desc {
  font-size: 12px;
}

.header-tools {
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-tools .fa-heart,
.header-tools .search-toggle {
  font-size: 22px;
}

.header-tools li {
  position: relative;
  margin-left: 1.25rem;
}

.header-tools a {
  line-height: 36px;
  position: relative;
  display: block;
}

.header-tools a .count {
  font-size: 12px;
  line-height: 1;
  position: absolute;
  top: 0;
  right: -4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 16px;
  height: 16px;
  color: #fff;
  border-radius: 50%;
  background: #737e61;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.header-tools .navbar-toggler {
  padding: .5rem .75rem;
}

.header-tools .navbar-toggler i {
  color: #fff;
  text-shadow: none;
}

.search-toggle {
  border: 0;
  outline: none;
  background: transparent;
}

.navbar {
  padding: .5rem 0;
}

.navbar a {
  font-weight: 500;
}

.navbar .navbar-nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.navbar .navbar-nav .parent {
  position: relative;
  text-align: left;
}

.navbar .navbar-nav .parent.catalog-link {
  position: initial;
}

.navbar .navbar-nav .parent.catalog-link a {
  color: #444;
}

.navbar .navbar-nav .parent.catalog-link ul {
  left: 0;
  width: 100%;
  text-align: left;
  white-space: normal;
  border: 3px solid rgba(255, 255, 255, .5);
  border-radius: 3px;
  background: #f8f5e4;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
}

.navbar .navbar-nav .parent.catalog-link ul ul {
  position: relative;
  left: 0;
  display: block;
  padding: 0 0 .5rem;
  border: 0;
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
}

.navbar .navbar-nav .parent.catalog-link ul ul a {
  font-weight: 400;
  padding: .2rem 0 .2rem 1rem;
}

.navbar .navbar-nav .parent ul {
  position: absolute;
  z-index: 4;
  top: 100%;
  left: 0;
  display: none;
  margin: 0;
  padding: .5rem;
  list-style-type: none;
  white-space: nowrap;
  border: 3px solid rgba(255, 255, 255, .5);
  border-radius: 3px;
  background: #f8f5e4;
}

.navbar .navbar-nav .parent ul ul {
  top: 0;
  left: 100%;
}

.page-header {
  margin: 0 0 2rem;
  padding: 1.25rem 0;
  color: #fff;
  background: #95a875;
  background-image: -o-linear-gradient(280deg, #95a875, #c2d3a3);
  background-image: linear-gradient(170deg, #95a875, #c2d3a3);
  -webkit-box-shadow: inset 0 10px 20px rgba(0, 0, 0, .15);
  box-shadow: inset 0 10px 20px rgba(0, 0, 0, .15);
}

.page-header a {
  color: #fff;
}

.page-header a:hover,
.page-header a:focus {
  text-decoration: underline;
  color: #fff;
}

.page-header .breadcrumb-item.active {
  color: #fff;
}

.breadcrumb {
  font-size: 75%;
  margin: 0 0 .25rem;
  padding: 0;
  background: transparent;
}

.page-title {
  margin: 0;
}

footer {
  position: relative;
  margin: auto 0 0;
  padding: 3rem 0 0;
  color: #fff;
  background: #536d26;
}

footer:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  content: '';
  opacity: .35;
  background: url(../img/bg-element.jpg);
}

footer .logo {
  margin: 0 0 1.5rem;
}

footer .logo .h1 {
  color: #737e61;
}

footer a {
  color: #fff;
}

footer a:hover,
footer a:focus {
  text-decoration: underline;
  color: #fff;
}

footer i {
  color: #c6d3b0;
}

.footer-bottom {
  font-size: 13px;
  margin: 1rem 0 0;
  color: #fff;
}

.footer-bottom .container {
  padding: 1.5rem 1rem;
  border-top: 1px solid #737e61;
}

.footer-bottom-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.footer-bottom-menu li {
  margin-right: 1.5rem;
}

.footer-bottom-menu li:last-child {
  margin-right: 0;
}

.footer-contacts {
  margin: 0 0 1.25rem;
  padding: 0;
  list-style-type: none;
}

.footer-contacts li {
  margin: 0 0 .75rem;
}

.footer-contacts li i {
  margin-right: .25rem;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social li {
  margin-right: 1rem;
}

.footer-social li a:hover {
  text-decoration: none;
}

.footer-social li a:hover i {
  color: #c6d3b0;
}

.footer-title {
  font-size: 1.125rem;
  font-weight: 700;
  position: relative;
  margin: 0 0 .75rem;
  padding: 0 0 .5rem;
}

.footer-title:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30px;
  height: 3px;
  content: '';
  background: #737e61;
}

.footer-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-menu.column-2 {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}

.footer-menu li {
  margin: 0 0 .5rem;
}

.categories .box {
  position: relative;
  overflow: hidden;
  margin: 0 0 2rem;
  -webkit-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  color: #444;
  border: 3px solid rgba(255, 255, 255, .25);
  border-radius: 10px;
  background: rgba(255, 255, 255, .5);
}

.categories .box:hover {
  -webkit-box-shadow: 0 10px 20px rgba(170, 165, 131, .5);
  box-shadow: 0 10px 20px rgba(170, 165, 131, .5);
}

.categories .box:hover .desc {
  max-height: 300px;
}

.categories .box .discount {
  font-size: 14px;
  font-weight: 500;
  position: absolute;
  top: 10px;
  right: 10px;
  left: auto;
  padding: 3px 8px;
  pointer-events: none;
  border-radius: 4px;
  background: #c2d3a3;
}

.categories .title {
  font-size: 1.125rem;
}

.categories .img {
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 10px;
}

.categories .img:hover img {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.categories img {
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.categories .text {
  position: absolute;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  cursor: pointer;
  border-top: 3px solid rgba(255, 255, 255, .25);
  background: rgba(255, 255, 255, .5);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.categories .desc {
  overflow: hidden;
  max-height: 0;
  margin: 0;
  -webkit-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.sidebar {
  margin-bottom: 30px;
  padding: 10px 20px;
  border: 1px solid #d0d0d0;
  border-radius: 8px;
}

.sidebar .group-title {
  font-weight: 500;
  position: relative;
  margin: 0 -20px 10px;
  padding: 0 20px;
  text-align: center;
}

.sidebar .group-title:after {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  display: block;
  height: 1px;
  content: '';
  background: #d0d0d0;
}

.sidebar .group-title span {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: .5rem 1rem;
  background: #fff;
}

.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.sort p {
  margin: 0;
}

.sort .custom-select {
  margin: 0 0 0 1rem;
}

.product-list .box {
  margin: 0 0 2rem;
  -webkit-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  border: 3px solid rgba(255, 255, 255, .5);
  border-radius: 10px;
  background: rgba(255, 255, 255, .5);
}

.product-list .box:hover {
  -webkit-box-shadow: 0 10px 20px rgba(170, 165, 131, .5);
  box-shadow: 0 10px 20px rgba(170, 165, 131, .5);
}

.product-list .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 200px;
  margin: 0 0 1rem;
  border-radius: 10px;
  background: #eee;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.product-list .img:hover img {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.product-list .img .discount {
  font-size: 14px;
  font-weight: 500;
  position: absolute;
  top: 10px;
  right: 25px;
  left: auto;
  padding: 3px 8px;
  pointer-events: none;
  border-radius: 4px;
  background: #c2d3a3;
}

.product-list .img img {
  max-height: 100%;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.product-list .title {
  font-size: 1.125rem;
  overflow: hidden;
  height: 42px;
  margin: 0 0 1rem;
  padding: 0 15px;
  text-align: center;
}

.product-list .title a {
  color: #948633;
}

.product-list .price {
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 1rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.product-list .price .old {
  font-size: 75%;
  text-decoration: line-through;
}

.product-list .price .actual {
  margin: 0 1rem;
}

.category-desc {
  padding: 3rem 0;
}

.product-page .page-title {
  margin: 0 0 1.5rem;
}

.product-page .group-title {
  font-weight: 500;
  padding: .5rem;
  background: #f3f3f3;
}

.product-page .group {
  margin: 0 0 1rem;
}

.product-page .custom-select {
  display: block;
  width: auto;
}

.product-page .price.in-product {
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.product-page .price.in-product .old {
  font-size: 75%;
  text-decoration: line-through;
}

.product-page .price.in-product .actual {
  font-weight: 700;
  margin: 0 1rem;
}

.main-img {
  display: block;
  overflow: hidden;
  margin: 0 0 1rem;
  border-radius: 20px;
}

.main-img .discount {
  font-weight: 500;
  position: absolute;
  top: 10px;
  right: 30px;
  left: auto;
  padding: 3px 8px;
  pointer-events: none;
  border-radius: 4px;
  background: #c2d3a3;
}

.main-img img {
  width: 100%;
}

.img-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 1rem;
  padding: 0;
  list-style-type: none;
}

.img-gallery li {
  margin-right: 1rem;
}

.img-gallery li:last-child {
  margin-right: 0;
}

.img-gallery img {
  border-radius: 10px;
}

.license .title {
  font-size: 1.125rem;
  margin: 0 0 1rem;
}

.error-page,
.finish-page {
  padding: 5rem 1rem;
  text-align: center;
}

.error-page .h4,
.finish-page .h4 {
  font-size: 1.5rem;
}

.error-page .code,
.finish-page .code {
  font-size: 120px;
  font-weight: 700;
  line-height: 1;
  margin: 0 0 1rem;
}

.login-box {
  max-width: 450px;
  margin: 0 auto 2rem;
  padding: 1.5rem;
  border: 3px solid rgba(255, 255, 255, .5);
  border-radius: 20px;
  background: rgba(255, 255, 255, .5);
}

.login-box .custom-control {
  background: transparent;
}

/* Отзывы */

.form-box {
  margin: 0 0 3rem;
  padding: 1.5rem;
  border: 3px solid rgba(255, 255, 255, .5);
  border-radius: 15px;
  background: rgba(255, 255, 255, .5);
}

.reviewStars {
  position: relative;
  float: left;
  overflow: hidden;
  *zoom: 1;
}

.reviewStars input {
  position: absolute;
  z-index: 0;
  top: 0;
  width: 20px;
  height: 19px;
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}

.reviewStars input:checked ~ label,
.reviewStars input:hover ~ label,
.reviewStars input:hover {
  width: 20px;
  height: 19px;
  background-position: 0 -19px !important;
}

.reviewStars label {
  position: relative;
  z-index: 1;
  float: right;
  width: 20px;
  height: 19px;
  margin-right: 3px;
  cursor: pointer;
  background-position: 0 0;
}

.reviewStars input:checked ~ label,
.reviewStars label {
  background: url(../img/star.png) no-repeat;
}

.stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 1rem;
  padding: 0;
  list-style-type: none;
}

.stars li {
  margin-right: .25rem;
}

/* Главная */

.home-slider {
  margin: 0 0 5rem;
  -webkit-box-shadow: 0 8px 15px -5px rgba(0, 0, 0, .75);
  box-shadow: 0 8px 15px -5px rgba(0, 0, 0, .75);
}

.home-slider .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 320px;
  background: #f7f7f7;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.home-slider .item p {
  margin: 0;
}

.intro {
  margin: 0 0 5rem;
}

.home-category {
  margin: 0 0 5rem;
}

.table .box {
  min-width: 240px;
  max-width: 320px;
  margin: 0 auto;
}

.cart-count {
  max-width: 80px;
}

@media (max-width: 768px) {
  .list-group {
    margin: 0 0 1rem;
  }

  .nav-pills {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .nav-pills .nav-link {
    margin: 0 0 1rem;
    color: #fff;
    background: #e3d99e;
    text-shadow: 1px 1px 1px #948633;
  }

  header .search input {
    width: 100%;
  }

  header .search.open {
    right: 0;
    left: 0;
    display: block;
    width: calc(100vw - 2rem);
    max-width: 514px;
    height: 40px;
    background: #f1ebc9;
  }

  header .search button {
    right: 40px;
  }

  header .search button.hide-search {
    right: 5px;
    display: block;
  }

  .top-panel-right {
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .top-panel-right li {
    margin: 0 0 .5rem;
  }

  .top-panel-right li:last-child {
    margin: 0 auto;
  }

  .logo {
    text-align: center;
  }

  .header-tools {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .header-tools li:first-child {
    margin: 0;
  }

  .navbar .navbar-nav .parent.catalog-link ul {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }

  .footer-bottom {
    text-align: center;
  }

  .footer-bottom-menu {
    margin: 0 0 2rem;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .home-slider .item {
    min-height: initial;
  }
}

@media (min-width: 768px) {
  header .search:hover {
    display: block;
    width: 300px;
  }

  .search-toggle:hover + .search {
    display: block;
    width: 300px;
  }
}

@media (max-width: 992px) {
  .top-panel-left {
    display: none;
  }

  .top-panel-right {
    width: 100%;
  }

  .top-panel-right li:first-child {
    display: none;
  }

  .top-panel-right li:last-child {
    margin-left: auto;
  }

  .navbar {
    padding: 0;
  }

  .navbar a {
    text-align: left;
  }

  .navbar .navbar-nav .parent ul {
    position: relative;
    top: 0;
    left: 0;
  }

  .navbar .navbar-nav .parent ul.open {
    display: block;
  }

  .navbar .fa-angle-down {
    margin: 0 0 0 .5rem;
    padding: .25rem .45rem;
    color: #444;
    border: 2px solid #aaa583;
    border-radius: 3px;
    background: transparent;
  }
}

@media (max-width: 1200px) {
  .navbar a {
    font-size: 14px;
  }
}

@media (min-width: 993px) {
  .navbar .navbar-nav .parent > a:hover + ul {
    display: block;
  }

  .navbar .navbar-nav .parent ul:hover {
    display: block;
  }
}